<div class="row">

  <div class="span6 offset3">
  <% if user_signed_in? %>
    <%= form_for @fight do |f| %>

      <%= f.label "fighter one" %>
      <%= f.number_field :fighterone %>

      <%= f.label "Fighter two" %>
      <%= f.number_field :fightertwo %>

      <%= f.submit "Score the fight", class: "btn btn-large btn-primary" %>
    <% end %>
  <% end %>

  </div>
</div>