<!DOCTYPE html>
<html>
<head>
	<title>Events to Score</title>
	<link href='http://fonts.googleapis.com/css?family=Julee' rel='stylesheet' type='text/css'>
</head>
<body>

<h3><a href="users/index">Find Your Friends!</a></h3>

  <h1>Events to score</h1>
  <div id="evecont">
  <center>UFC 176</center>
  <br>
  <br>
  <center>

<%= form_tag('/scores/new', method: 'post') do %>
  	<%= hidden_field_tag :fight_id, 1 %>
  	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  	<%= submit_tag("Score GSP vs. Silva", class: "myButton", id: "eventbutton") %>
<% end %>
<% if @score %>
<div id="myscores">
<div class="score">
GSP vs. Anderson Silva
<br>
<br>

<table id="tab">
<tr>
  <th>Fighter</th>
  <th>Round 1</th> 
  <th>Round 2</th>
  <th>Round 3</th>
</tr>
	<tr>
    <td>GSP</td>
    <td><%= @score.r1_f1 %></td>
	  <td><%= @score.r2_f1 %></td>
	  <td><%= @score.r3_f1 %></td>
  </tr>
  <tr>
    <td>Silva</td>
	  <td><%= @score.r1_f2 %></td>
	  <td><%= @score.r2_f2 %></td>
	  <td><%= @score.r3_f2 %></td>
  </tr>
</table>
<% end %>
</div>
<div>

  </center>


  <p><%= @output %></p>
  <p><%= @emailarr %></p>
</body>