<!DOCTYPE html>
<html>
<head>
	<title>Events to Score</title>
	<link href='http://fonts.googleapis.com/css?family=Julee' rel='stylesheet' type='text/css'>
</head>
<body>
  <h1>Events to score</h1>
  <div id="evecont">
  <center>UFC 176</center>
  <br>
  <br>
  <center>

<%= form_tag('/scores/new', method: 'post') do %>
  	<%= hidden_field_tag :fight_id, 1 %>
  	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  	<%= submit_tag("Fight 1") %>
<% end %>


<% a = Score.find_by fight_id: 1, user_id: current_user.id %>
<% if a %>
	<%= a.r1_f1 %>
	<%= a.r2_f1 %>
	<%= a.r3_f1 %>
	<%= a.r1_f2 %>
	<%= a.r2_f2 %>
	<%= a.r3_f2 %>
<% end %>
</center>
<div>



<div id="users">
<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h user.email %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
</div>


</body>