<%= form_for(@score) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="scorecardcontainer1">
<center><h2>Round 1</h2></center>
       <div><%=image_tag 'silva.jpg', id: "fighter2" %></div>
       <div><%= image_tag 'gsp.jpg', id: "fighter1" %></div><br>
    
       <div class="columnleft">
        <%= f.radio_button :r1_f1, '10' %> 
        <%= label :ten, '10' %><br><br>
        <%= f.radio_button :r1_f1, '9' %>
        <%= label :nine, '9' %><br><br>
        <%= f.radio_button :r1_f1, '8' %>
        <%= label :eight, '8' %>
      </div>

      <div class="columnright">
        <%= f.radio_button :r1_f2, '10' %> 
        <%= label :ten, '10' %><br><br>
        <%= f.radio_button :r1_f2, '9' %>
        <%= label :nine, '9' %><br><br>
        <%= f.radio_button :r1_f2, '8' %>
        <%= label :eight, '8' %>
       </div>
     <!--  <center><div id="submit"><input type="submit" value="Judge" class="myButton"></center> -->
</div>
  <!-- First Round Scorecard -->
  
<div id="scorecardcontainer2">
<center><h2>Round 2</h2></center>
       <div><%=image_tag 'silva.jpg', id: "fighter2" %></div>
       <div><%= image_tag 'gsp.jpg', id: "fighter1" %></div><br>
    
       <div class="columnleft">
        <%= f.radio_button :r2_f1, '10' %> 
        <%= label :ten, '10' %><br><br>
        <%= f.radio_button :r2_f1, '9' %>
        <%= label :nine, '9' %><br><br>
        <%= f.radio_button :r2_f1, '8' %>
        <%= label :eight, '8' %>
      </div>

      <div class="columnright">
        <%= f.radio_button :r2_f2, '10' %> 
        <%= label :ten, '10' %><br><br>
        <%= f.radio_button :r2_f2, '9' %>
        <%= label :nine, '9' %><br><br>
        <%= f.radio_button :r2_f2, '8' %>
        <%= label :eight, '8' %>
       </div>
     <!--  <center><div id="submit"><input type="submit" value="Judge" class="myButton"></center> -->
</div>
 
<div id="scorecardcontainer3">
<center><h2>Round 3</h2></center>
       <div><%=image_tag 'silva.jpg', id: "fighter2" %></div>
       <div><%= image_tag 'gsp.jpg', id: "fighter1" %></div><br>
    
       <div class="columnleft">
        <%= f.radio_button :r3_f1, '10' %> 
        <%= label :ten, '10' %><br><br>
        <%= f.radio_button :r3_f1, '9' %>
        <%= label :nine, '9' %><br><br>
        <%= f.radio_button :r3_f1, '8', class: "chb" %>
        <%= label :eight, '8' %>
      </div>

      <div class="columnright">
        <%= f.radio_button :r3_f2, '10' %> 
        <%= label :ten, '10' %><br><br>
        <%= f.radio_button :r3_f2, '9' %>
        <%= label :nine, '9' %><br><br>
        <%= f.radio_button :r3_f2, '8' %>
        <%= label :eight, '8' %>
       </div>
     <!--  <center><div id="submit"><input type="submit" value="Judge" class="myButton"></center> -->
</div>

  <%= f.hidden_field :fight_id %>
 <center> <%= f.submit "Score the bout", class: "myButton" %></center>

  
<% end %>
